* {
  margin: 0;
  padding: 0;
}

$color-base: rgb(253, 192, 50);

// nav {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   min-height: 100vh;

// }

body{
  width: 100%;
  height: 100vh;


}

// header{
//   border: solid 1px black;
// }



.div-circle-white{
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  border: blanchedalmond solid 10px;
}


#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {

#wrapper {width:90%;  margin: 0 auto; }

#content {width:70%; float:left; }

#sidebar {width:30%; float:right; }

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {

  body, p, a, h4 {
  
  font-size: 14px;
  
  }
  
  }

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {

#wrapper {width:90%;  margin: 0 auto; }

}


}

//box-randoms-beers

.box-random{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // flex-wrap: wrap;
  align-items:center;
  // padding-right: 1rem;
  // padding-left: 1rem;
  // padding-top: 1em;
  // padding-bottom: 1em;
  border: inset grey 10px;
  &>.box-img-left, .info-right{
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
}

h2{
  font-style: oblique;
    justify-content: center;
    position: relative;
    left: 2em;
    transform: -50%, -50%;
    align-items: center;

  }

.img-beer{
  width: 30%;
  height: 20%;
  object-fit: contain;
  padding-top: 5em;

}

.box-img-left{
  width: 100%;
  height: 50vh;
  border-bottom: solid 1px rgb(176, 176, 176);
  &>.img-beer{
    height: 65%;
    object-fit: contain;
  }
  // position: relative;
}

.info-right{
  width: 60%;
  display: flex;
  flex-direction: column;
  &>.long-des{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 2em;
    width: 150%;
    height: 200px;
    word-wrap: normal;

  }

  &>h3{
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    font-size: 2.5rem;
  }
  &>.short-info{
    color: $color-base;
    font-weight: 900;
    margin-bottom: 1em ;
  }
  &>.link-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

.grey-span{
  display: flex;
  justify-content: space-between;
  width: 150%;
  font-style: unset;
  color: rgb(101, 100, 100);
}

.link-button{
  background: $color-base;
  justify-content: center;
  border-radius: 2em;
  border: none;
  color: #fff;
  // position: relative;
  width:66px;
  height: 26px;
  margin-bottom: 1em;
  margin-top: 1em;
  
  // top: 181px;
  // left:185px;
}


//Home

.home-page{
  margin: 1em;
padding-top: 15em;
padding-left: 1em;
padding-right: 1em;

  width: 85%;
  height: 100vh;
  // margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // border: solid blue 10px;

}

.cajitas{
  display: flex;
  justify-content: center;
  flex-direction: column;

  &>figure{
    width: 100%;
    height: 3em;
    position: relative;
    justify-content: start;
    align-items: center;
    display: flex;
    background: $color-base;
    margin-bottom: 10px;
    color:#fff;
    
  }
  &>figcaption{
    width: 100%;
    padding-bottom: 10px;
    // border: solid black 1px;
    
  }
}



.image-home{
  width: 100%;
  height: 100vh;

}

//figcaption

//footer
.box-footer{
  display: flex;
  justify-content: center;
  background-color: $color-base;
  position: fixed;
  bottom: -1em;
  width: 100%;
  height: 10vh;
}