* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.div-circle-white {
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  border: blanchedalmond solid 10px;
}

#wrapper {
  width: 95%;
  margin: 0 auto;
}

#header {
  width: 100%;
}

#content {
  width: 100%;
}

#sidebar {
  width: 100%;
}

#footer {
  width: 100%;
}

@media (min-width: 768px) {
  #wrapper {
    width: 90%;
    margin: 0 auto;
  }
  #content {
    width: 70%;
    float: left;
  }
  #sidebar {
    width: 30%;
    float: right;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  body, p, a, h4 {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  #wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.box-random {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: inset grey 10px;
}

.box-random > .box-img-left, .box-random .info-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-style: oblique;
  justify-content: center;
  position: relative;
  left: 2em;
  transform: -50%, -50%;
  align-items: center;
}

.img-beer {
  width: 30%;
  height: 20%;
  object-fit: contain;
  padding-top: 5em;
}

.box-img-left {
  width: 100%;
  height: 50vh;
  border-bottom: solid 1px #b0b0b0;
}

.box-img-left > .img-beer {
  height: 65%;
  object-fit: contain;
}

.info-right {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.info-right > .long-des {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 2em;
  width: 150%;
  height: 200px;
  word-wrap: normal;
}

.info-right > h3 {
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 2.5rem;
}

.info-right > .short-info {
  color: #fdc032;
  font-weight: 900;
  margin-bottom: 1em;
}

.info-right > .link-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey-span {
  display: flex;
  justify-content: space-between;
  width: 150%;
  font-style: unset;
  color: #656464;
}

.link-button {
  background: #fdc032;
  justify-content: center;
  border-radius: 2em;
  border: none;
  color: #fff;
  width: 66px;
  height: 26px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.home-page {
  margin: 1em;
  padding-top: 15em;
  padding-left: 1em;
  padding-right: 1em;
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cajitas {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cajitas > figure {
  width: 100%;
  height: 3em;
  position: relative;
  justify-content: start;
  align-items: center;
  display: flex;
  background: #fdc032;
  margin-bottom: 10px;
  color: #fff;
}

.cajitas > figcaption {
  width: 100%;
  padding-bottom: 10px;
}

.image-home {
  width: 100%;
  height: 100vh;
}

.box-footer {
  display: flex;
  justify-content: center;
  background-color: #fdc032;
  position: fixed;
  bottom: -1em;
  width: 100%;
  height: 10vh;
}
/*# sourceMappingURL=index.css.map */